
.product__item {
    margin-top: 20px;
    border: solid 1px rgb(240, 235, 235);
    border-radius: 5px;
    padding-bottom: 10px;
    img {
        max-width: 230px;
        max-height: 320px
    }

    h3 {
        padding-top: 5px;
    }

    .price {
        color: rgb(241, 74, 74);
    }

    .btn {
        max-width: 90%;
        margin-top: 8px;
    }
}